
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title">Birth Day</h3>
              <td>Jack</td>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title">Upcoming Holiday</h3>  
          </div>
      </div>
  </div>
</div>


<div class="row mt-3">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title">Leave Responce</h3>    
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title">Announcement</h3>  
          </div>
      </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title">Request for approval</h3>  
          </div>
      </div>
  </div>
</div>

<!-- </div> -->