<p>reimbursement works!</p>
<!--  -->

<button type="submit"  class="btn btn-outline-primary m-lg-3" (click)="onAddRecordClick()">+ Add Record</button>

<p>Display Area of addexpence</p>

<div class="row g-0 mt-3">
 
<table class="table table-hover mx-auto border">
    <thead class="text-center fs-5 fst-italic text-secondary">
        <tr>
            <!-- <td>SrNo</td> -->
            <td>Category</td>
            <td>Date</td>
            <td>Amount</td>
            <td>Reason</td>
        </tr>
    </thead>

    <tbody class="text-center">
        <tr *ngFor="let user of users">
            <!-- <td>{{expence.SrNo}}</td> -->
            <td>{{user.Category}}</td>
            <td>{{user.Date}}</td>
            <td>{{user.Amount}}</td>
            <td>{{user.Reason}}</td>

        </tr>

        <!-- <tr>
            <td>2</td>
            <td>Travel</td>
            <td>2/5/2023</td>
            <td>7000</td>
            <td>etc</td>
        </tr> -->
    </tbody>
</table>
</div>

