<p>addtravelexpence works!</p>


<form  class="" [formGroup]="Travelexpenceform" (ngSubmit)="submitform()">
    <div class="row">
    <div class="col-md-6">
        <label for="datepicker1" class="form-label">From Date:</label>
        <input type="date" class="form-control" id="datepicker1" name="FromDate" formControlName="FromDate" required
          (change)="onFromDateChange($event)" />
        <span *ngIf="Travelexpenceform.get('FromDate')?.invalid && Travelexpenceform.get('FromDate')?.touched">
          <span style="color: red" *ngIf="Travelexpenceform.get('FromDate')?.errors?.['required']"> Date is required.</span>
        </span>
      </div>
    
      <div class="col-md-6">
        <label for="datepicker" class="form-label">To Date:</label>
        <input type="date" class="form-control" id="datepicker" name="ToDate" formControlName="ToDate" [min]="minToDate"
          [attr.disabled]="!Travelexpenceform.get('FromDate')?.value ? true : null" />
        <span *ngIf="Travelexpenceform.get('ToDate')?.invalid && Travelexpenceform.get('ToDate')?.touched">
          <span style="color: red" *ngIf="Travelexpenceform.get('ToDate')?.errors?.['required']">Date is required.</span>
        </span>
      </div>

    </div>

    <div class="col w-50 mt-3">

      <label class="form-label" for="type-text">Place:</label>
      <input type="text"  id="type-text" class="form-control" placeholder="Place" name="Place" formControlName="Place"/>
    <!-- <span style="color: red;" *ngIf="Firstname && Firstname.invalid && Firstname.touched">Name is required</span> -->
        <span style="color: red;" *ngIf="Place && Place.errors && (Place.touched || Place.dirty)">
          <span *ngIf="Place.errors['required']">Name is required.</span>
          <span *ngIf="Place.errors['pattern']">Name must contain only letters.</span>
        </span>
    
    </div>

    <button type="submit" class="btn btn-info btn-lg mt-3">Add</button>

</form>