<p>leavedata works!</p>

<button type="submit"  class="btn btn-outline-primary m-lg-3" (click)="leaveapply()"> + ApplyLeave </button>


 <h6> Display Leave Data </h6>

 <table class="table table-hover mx-auto border mt-5">
    <thead class="text-center fs-5 fst-italic text-secondary">
        <tr>
            <!-- <td>SrNo</td> -->
            <td>Leave Type</td>
            <td>Day</td>
            <td>FromDate</td>
            <td>ToDate</td>
            <td>OfficialEmail</td>
            <td>Reason</td>
            <td>Status</td>
        </tr>
    </thead>

    <tbody class="text-center fst-italic">
        <tr>
            <!-- <td>{{expence.SrNo}}</td> -->
            <td>Casual</td>
            <td>Full Day</td>
            <td>4/5/2023</td>
            <td>4/5/2023</td>
            <td>abc@gmail.com</td>
            <td>etc</td>
            <td>Approved</td>

        </tr>

        <tr>
            <td>Casual</td>
            <td>First Half</td>
            <td>7/6/2023</td>
            <td>8/6/2023</td>
            <td>xyz@gmail.com</td>
            <td>etc</td>
            <td>Approved</td>
        </tr>

        <tr>
            <td>Casual</td>
            <td>FullDay</td>
            <td>9/6/2023</td>
            <td>11/6/2023</td>
            <td>jkl@gmail.com</td>
            <td>etc</td>
            <td>Pending</td>
        </tr>

        <tr>
            <td>Casual</td>
            <td>Second Half</td>
            <td>15/6/2023</td>
            <td>15/6/2023</td>
            <td>pqr@gmail.com</td>
            <td>etc</td>
            <td>Approved</td>
        </tr>
    </tbody>
</table>