<div style="display: flex;">
<div class="card" style="float: left; width: 50%; height: fit-content; margin-left: 15px;">
    <h4 style="padding: 10px;">Basic Info</h4> 
 <div class="container-fluid">
 <table class="table">
     
     <tbody>
       <tr>
         <!-- <th scope="row">1</th> -->
         <td>First Name</td>
         <td>Ramesh</td>  
       </tr>
 
       <tr>
         <!-- <th scope="row">2</th> -->
         <td>Last Name</td>
         <td>Parmar</td>
       </tr>
 
       <tr>
         <!-- <th scope="row">3</th> -->
         <td>Date Of Birth</td>
         <td>14/5/2002</td>     
       </tr>
 
       <tr>
            <td>Added By</td>
            <td>HR</td>
       </tr>

       <tr>
        <td>Added Time</td>
        <td>dd/mm/yyyy , time</td>
       </tr>

       <tr>
        <td>Age</td>
        <td>..</td>
       </tr>

       <tr>
         <td>Gender:</td>
         <td>Male</td>
       </tr>

 
       <tr>
         <td>Personal Email:</td>
         <td>abc@123@gmail.com</td>
       </tr>
 
       <tr>
         <td>Phone number:</td>
         <td>7554646545</td>
       </tr>
 
       <tr>
         <td>Emergency number</td>
         <td>7564645234</td>
       </tr>
       
       <tr>
        <td>Modified Time</td>
        <td>hr:mm:ss</td>
       </tr>

     </tbody>
 </table>
 </div>
 </div>

<div class="card" style="float: right; width: 50%; height: fit-content; margin-left: 50px; margin-right: 15px;">
  <h4 style="padding: 10px;">Employee Information</h4>

<div class="container-fluid">
    <table class="table"> 

    <tbody>
        <tr>
            <td>OfficialEmail:</td>
            <td>xyz@123@gmail.com</td>
        </tr>

        <tr>
            <td>Designation</td>
            <td>XYZ</td>
        </tr>

        <tr>
            <td>Department</td>
            <td>ABC</td>
        </tr>

        <tr>
            <td>ReportingManager</td>
            <td>.....</td>
        </tr>

        <tr>
            <td>Secondary Reporting</td>
            <td>......</td>
        </tr>

        <tr>
            <td>Joining date</td>
            <td>dd/mm/yyyy</td>
        </tr>

        <tr>
            <td>Location</td>
            <td>Ahmedabad</td>
        </tr>

        <tr>
            <td>State</td>
            <td>Gujarat</td>
        </tr>

        <tr>
            <td>Country</td>
            <td>India</td>
        </tr>

        <tr>
            <td>Role</td>
            <td>Trainee</td>
        </tr>

        <tr>
            <td>Experience</td>
            <td>3 Months</td>
        </tr>
    </tbody>
    </table>
    </div>
</div>
 
</div>


