<div style="display: flex;">
<div class="card" style="float: left; width: 50%; height: fit-content; margin-left: 15px;">
    <h4 style="padding: 10px;">Basic Info</h4> 
 <div class="container-fluid">
 <table class="table">
     
    <tbody>
       <tr>  
         <td>First Name</td>
         <td>Ramesh</td>  
       </tr>
 
       <tr>
         <td>Last Name</td>
         <td>Parmar</td>
       </tr>
 
       <tr>   
         <td>Date Of Birth</td>
         <td>14/5/2002</td>     
       </tr>
 
       <tr>
        <td>Gender:</td>
        <td>Male</td>
      </tr>

       <tr>
         <td>Personal Email</td>
         <td>abc@gmail.com</td>
       </tr>

       <tr>
         <td>Phone Number</td>
         <td>9876543214</td>
       </tr>

       <tr>
         <td>Emergency Contact No</td>
         <td>9876543210</td>
       </tr>
       
       <tr>
        <td>Status</td>
        <td>Active</td>
       </tr>
     </tbody>
 </table>
 </div>
 </div>

<div class="card" style="float: right; width: 50%; height: fit-content; margin-left: 50px; margin-right: 15px;">
  <h4 style="padding: 10px;">Employee Information</h4>

<div class="container-fluid">
  <table class="table"> 

    <tbody>
        <tr>
           <td>Official Email:</td>
           <td>xyz@123@gmail.com</td>
        </tr>

        <tr>
           <td>Designation</td>
           <td>XYZ</td>
        </tr>

        <tr>
           <td>Department</td>
           <td>ABC</td>
        </tr>

        <tr>
           <td>Reporting Manager</td>
           <td>.....</td>
        </tr>

        <tr>
           <td>Joining date</td>
           <td>dd/mm/yyyy</td>
        </tr>

        <tr>
           <td>Location</td>
           <td>Ahmedabad</td>
        </tr>

        <tr>
           <td>State</td>
           <td>Gujarat</td>
        </tr>

        <tr>
           <td>Country</td>
           <td>India</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 

</div>



