/* .table{   
    width: 100%;
}
.card{
    width: 30%;
} */
/* Custom CSS for Data Display Card */
/* Custom CSS for Data Display Card with Color */

/* Custom CSS for Data Display Card with Gradient Background */
.card {
  width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); 
  background: linear-gradient(to bottom right,#ffffff, #ffffff ); /* Set the gradient background color */
  color: #000000; /* Set the text color */
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card :hover {
  color: rgb(105, 165, 217); /* Set the link color on hover */
}

/**/

.area{
  background-color: rgb(105, 165, 217);
  text-align: center;
  color: white;
  height: 150px;
  /* height: max-content; */
  border-radius: 12px;
}
img {
  border-radius: 50%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}