.row {
    margin: auto;
    padding: 12px;
  }
  .all-btn button {
    font-size: 1.2rem;
  }
  
  .form-group {
    margin-left: 5px;
    padding-top: 1px;
  }

  .form-label1{
    width: 200px;
  }

  
/* form{
  background-color: hsl(226, 67%, 92%)
}
 */
