<nav class = "navbar sticky-top navbar-light bg-light h-100">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="#">Employee Management System</a>
    </div>
</nav>
<h1 style="color: rgb(34, 27, 27); margin-left: 12px;">Add Employee</h1>

<div class="mb-2 bg-info-subtle all-btn">
    <a routerLink="about" button type="button" class="btn text-black mx-2">About</a>
    <a routerLink="document" button type="button" class="btn text-black  mx-2">Document</a>
    <a routerLink="salary" button type="button" class="btn text-black  mx-2">Salary</a>
  </div>

 

  <!-- <a href="nextpage.html" class="btn btn-primary">Next Page</a>  -->