<!-- <h3>Education Details</h3> -->

<form class="" [formGroup]="Iform" (ngSubmit)="submitForm()">
    <h3>Education Details</h3>
    <div class="row mt-3">

        <div class="col">
            <label class="form-label" for="type-text1">Education Board :</label>
           <input type="text"  id="type-text1" class="form-control m-lg-2" placeholder="State Board" name="Stateboard" formControlName="Stateboard"/>   
           <span style="color: red;" *ngIf="Stateboard && Stateboard.errors && (Stateboard.touched || Stateboard.dirty)">
            <span *ngIf="Stateboard.errors['required']">Education board is required.</span>
            <span *ngIf="Stateboard.errors['pattern']">Education board must contain only letters.</span>
          </span>
       </div>

       <div class="col m-0">
            <label class="form-label" for="type-text2">Institution :</label>
            <input type="text"  id="type-text2" class="form-control m-lg-2" placeholder="Name Of Institute" name="Institute" formControlName="Institute" pattern="^[a-zA-Z ]*$"/>   
            <span style="color: red;" *ngIf="Institute && Institute.errors && (Institute.touched || Institute.dirty)">
                <span *ngIf="Institute.errors['required']">Institute  name is required.</span>
                <span *ngIf="Institute.errors['pattern']">Institute must contain only letters.</span>
              </span>
        </div>

        <div class="col">
             <label class="form-label" for="type-text3">Degree :</label>
            <input type="text"  id="type-text3" class="form-control m-lg-2" placeholder="Name Of Degree" name="Degree" formControlName="Degree" pattern="^[a-zA-Z ]*$"/>   
            <span style="color: red;" *ngIf="Degree && Degree.errors && (Degree.touched || Degree.dirty)">
                <span *ngIf="Degree.errors['required']">Degree is required.</span>
                <span *ngIf="Degree.errors['pattern']">Degree must contain only letters.</span>
              </span>
        </div>

        <div class="col">
            <label class="form-label" for="type-text4"> DegreeType:</label>
           <input type="text"  id="type-text4" class="form-control m-lg-2" placeholder="degree" name="degree" formControlName="degree" pattern="^[a-zA-Z ]*$"/>   
           <span style="color: red;" *ngIf="degree && degree.errors && (degree.touched || degree.dirty)">
            <span *ngIf="degree.errors['required']">Degree Type is required.</span>
            <span *ngIf="degree.errors['pattern']">Degree Type must contain only letters.</span>
          </span>
       </div>

    </div>

    <div class="row">

            <div class="col">
                <label for="datepicker" class="form-label">Start Date:</label>
                <input type="date" class="form-control" id="datepicker" name="startdate" formControlName="startdate" />
                <span *ngIf="Iform.get('startdate')?.invalid && Iform.get('startdate')?.touched">
                  <span style="color: red" *ngIf="Iform.get('startdate')?.errors?.['required']">Date is required.</span>
                </span>
              </div>

        <div class="col">
            <label for="datepicker1" class="form-label">End Date:</label>
                <input type="date" class="form-control" id="datepicker1" name="enddate" formControlName="enddate" />
                <span *ngIf="Iform.get('enddate')?.invalid && Iform.get('enddate')?.touched">
                  <span style="color: red" *ngIf="Iform.get('enddate')?.errors?.['required']">Date is required.</span>
                </span>
        </div>

        <div class="col">
            <div class="form-outline w-50">
                <label class="form-label" for="typeNumber">Percentage:</label>
                <input type="number" id="typeNumber" class="form-control" name="Percentage" formControlName="Percentage"
                       min="0" max="100"
                       [ngClass]="{'is-invalid': Percentage?.touched && Percentage?.invalid}">
                <div class="invalid-feedback" *ngIf="Percentage?.touched && Percentage?.invalid" style="color: red">
                    Please enter a percentage between 0 and 100.
                </div>
            </div>
        </div>

    </div>

    <h5 class="modal-title fs-5 pl-2" id="exampleModalLabel">Experience :-</h5>

    <div class="row mt-3">

        <div class="col">
            <label class="form-label" for="type-text5">Organization:</label>
           <input type="text"  id="type-text5" class="form-control m-lg-2" placeholder="Organization Name" name="organization" formControlName="organization" pattern="^[a-zA-Z ]*$"/>   
           <span style="color: red;" *ngIf="organization && organization.errors && (organization.touched || organization.dirty)">
            <span *ngIf="organization.errors['required']">Organization is required.</span>
            <span *ngIf="organization.errors['pattern']">Organization must contain only letters.</span>
          </span>
       </div>

       <div class="col">
        <label class="form-label" for="type-text6">Job Title:</label>
       <input type="text"  id="type-text6" class="form-control m-lg-2" placeholder="Enter Job Information" name="jobtitle" formControlName="jobtitle" pattern="^[a-zA-Z ]*$"/>   
       <span style="color: red;" *ngIf="jobtitle && jobtitle.errors && (jobtitle.touched || jobtitle.dirty)">
        <span *ngIf="jobtitle.errors['required']">Job Title is required.</span>
        <span *ngIf="jobtitle.errors['pattern']">Job Title must contain only letters.</span>
      </span>
   </div>

   <div class="col">
    <label for="datepicker2" class="form-label">Start Date:</label>
    <input type="date" class="form-control m-lg-2" id="datepicker2" name="Startdate" formControlName="Startdate" />
    <span *ngIf="Iform.get('Startdate')?.invalid && Iform.get('Startdate')?.touched">
      <span style="color: red" *ngIf="Iform.get('Startdate')?.errors?.['required']">Date is required.</span>
    </span>
  </div>

  <div class="col">
    <label for="datepicker3" class="form-label">End Date:</label>
        <input type="date" class="form-control m-lg-2" id="datepicker3" name="Enddate" formControlName="Enddate" />
        <span *ngIf="Iform.get('Enddate')?.invalid && Iform.get('Enddate')?.touched">
          <span style="color: red" *ngIf="Iform.get('Enddate')?.errors?.['required']">Date is required.</span>
        </span>
    </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
