<!-- <h3>Education Details</h3> -->
<empmng-header></empmng-header>
<form class="" [formGroup]="Iform" (ngSubmit)="submitForm()">
    <h3>Education Details</h3>
    <div class="row mt-3">

        <div class="col">
            <label class="form-label" for="type-text1">Education Board :</label>
           <input type="text"  id="type-text1" class="form-control m-lg-2" placeholder="State Board" name="Stateboard" formControlName="Stateboard"/>   
           <span style="color: red;" *ngIf="Stateboard && Stateboard.errors && (Stateboard.touched || Stateboard.dirty)">
            <span *ngIf="Stateboard.errors['required']">*Education board is required.</span>
            <span *ngIf="Stateboard.errors['pattern']">*Education board must contain only letters.</span>
          </span>
       </div>

       <div class="col m-0">
            <label class="form-label" for="type-text2">Institution :</label>
            <input type="text"  id="type-text2" class="form-control m-lg-2" placeholder="Name Of Institute" name="Institute" formControlName="Institute" pattern="^[a-zA-Z ]*$"/>   
            <span style="color: red;" *ngIf="Institute && Institute.errors && (Institute.touched || Institute.dirty)">
                <span *ngIf="Institute.errors['required']">*Institute  name is required.</span>
                <span *ngIf="Institute.errors['pattern']">*Institute must contain only letters.</span>
              </span>
        </div>

        <div class="col">
             <label class="form-label" for="type-text3">Degree :</label>
            <input type="text"  id="type-text3" class="form-control m-lg-2" placeholder="Name Of Degree" name="Degree" formControlName="Degree" pattern="^[a-zA-Z ]*$"/>   
            <span style="color: red;" *ngIf="Degree && Degree.errors && (Degree.touched || Degree.dirty)">
                <span *ngIf="Degree.errors['required']">*Degree is required.</span>
                <span *ngIf="Degree.errors['pattern']">*Degree must contain only letters.</span>
              </span>
        </div>

        <div class="col">
            <label class="form-label" for="type-text4"> DegreeType:</label>
           <input type="text"  id="type-text4" class="form-control m-lg-2" placeholder="degree Type" name="degreetype" formControlName="degreetype" pattern="^[a-zA-Z ]*$"/>   
           <span style="color: red;" *ngIf="degreetype && degreetype.errors && (degreetype.touched || degreetype.dirty)">
            <span *ngIf="degreetype.errors['required']">*Degree Type is required.</span>
            <span *ngIf="degreetype.errors['pattern']">*Degree Type must contain only letters.</span>
          </span>
       </div>

    </div>

    <div class="row">

        <div class="col">
                <label for="datepicker" class="form-label">Start Date:</label>
                <input type="date" style="margin-left: 8px;" class="form-control" id="datepicker" name="startdate" formControlName="startdate" (change)="onstartDateChange($event)"/>
                <span *ngIf="Iform.get('startdate')?.invalid && Iform.get('startdate')?.touched">
                  <span style="color: red" *ngIf="Iform.get('startdate')?.errors?.['required']">*StartDate is required.</span>
                </span>
        </div>

        <div class="col">
            <label for="datepicker1" class="form-label">End Date:</label>
                <input type="date" style="margin-left: 7px;" class="form-control" id="datepicker1" name="enddate" formControlName="enddate" [min]="minendDate"
                [attr.disabled]="!Iform.get('startdate')?.value ? true : null"/>
                <span *ngIf="Iform.get('enddate')?.invalid && Iform.get('enddate')?.touched">
                  <span style="color: red" *ngIf="Iform.get('enddate')?.errors?.['required']">*EndDate is required.</span>
                </span>
        </div>

        <div class="col">
          <div class="form-outline w-50">
            <label class="form-label" for="typeNumber">Percentage:</label>
            <input type="number" style="margin-left: 8px;" id="typeNumber" class="form-control" name="Percentage" formControlName="Percentage"
                   min="0" max="100" 
                   [ngClass]="{'is-invalid': Percentage?.touched && Percentage?.invalid}" >
            <div class="invalid-feedback" *ngIf="Percentage?.touched && Percentage?.invalid" style="color: red">
              <span *ngIf="Percentage?.errors?.['required']">*Percentage is required.</span>
              <span *ngIf="Percentage?.errors && !Percentage?.errors?.['required']">*Please enter a percentage between 0 and 100.</span>
            </div>
          </div>
        </div>
        
        
        <div class="col"></div>
      </div>

    <button type="submit" style="margin-left: 30px; margin-top: 5px;"  class="btn btn-dark">Add</button>
    
    <button style="margin-left: 30px; margin-top: 5px;" class="btn btn-dark" (click)="goToNextPage()">Next Page</button>
</form>

<table *ngIf="educationDetails.length > 0" class="table mt-3">
  <thead>
    <tr>
      <th>Education Board</th>
      <th>Institution</th>
      <th>Degree</th>
      <th>Degree Type</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Percentage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of educationDetails">
      <td>{{ detail.Stateboard }}</td>
      <td>{{ detail.Institute }}</td>
      <td>{{ detail.Degree }}</td>
      <td>{{ detail.degreetype }}</td>
      <td>{{ detail.startdate | date }}</td>
      <td>{{ detail.enddate | date }}</td>
      <td>{{ detail.Percentage }}</td>
    </tr>
  </tbody>
</table>