<p>travelexpence works!</p>
<!--  -->

<button type="submit"  class="btn btn-outline-primary m-lg-3" (click)="onAddRecordClick()">+ Add Record</button>

<p>Display area of addtravel expence</p>

<!--  -->

<div class="row g-0 mt-3">
 
<table class="table table-hover mx-auto border">
    <thead class="text-center fs-5 fst-italic text-secondary">
        <tr>
            <td>FromDate</td>
            <td>ToDate</td>
            <td>Place</td>
        </tr>
    </thead>

    <tbody class="text-center">
        <tr>
           
            <td>4/5/2023</td>
            <td>5/5/2023</td>
            <td>gujarat</td>

        </tr>

        <tr>
            <td>7/5/2023</td>
            <td>8/5/2023</td>
            <td>Mumbai</td>
    
        </tr>
    </tbody>
</table>
</div>

